.App__title {
    text-align: center;
    margin-bottom: 1rem;
}

.container-flex--column {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

@media (min-width: 540px) {
    .container-flex--column  {
        width: 50%;
    }
}


