.add-fish-form {
	border: 2px solid #000;
	display: flex;
	flex-wrap: wrap;
}

.add-fish-form input,
.add-fish-form select,
.add-fish-form textarea {
	appearance: none;
	background: #fff;
	border: 0;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	border-radius: 0;
	font-size: 1.2rem;
	line-height: 1;
	padding: 10px;
}

.add-fish-form input:focus,
.add-fish-form textarea:focus,
.add-fish-form select:focus {
	background: #fef2de;
	outline: 0;
}

.add-fish-form .add-fish-form__status,
.add-fish-form .add-fish-form__description,
.add-fish-form .add-fish-form__image {
	border-right: none;
}

.add-fish-form__name,
.add-fish-form__price,
.add-fish-form__status {
	width: calc(100% / 3);
}

.add-fish-form__description,
.add-fish-form__image {
	width: 100%;
}
