.counter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    text-align: center;
    transform: translateY(-50%);
    width: 100%;
}

.counter__number {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}

.counter__button {
    flex-grow: 1;
    background-color: #1e88e5;
}

.counter__button:hover, .counter__button:focus {
    background-color: #1976d2;
}