.App {
    background-color: aliceblue;
    box-shadow: 0 0 20px 0px #5e819c;
    min-height: 300px;
    margin: 20% auto;
    padding: 1%;
    width: 500px; 
}

.App__header {
    text-align: center;
}

.Add-Event {
    margin: 10% auto;
}

.Add-Event__form {
    display: flex;
    justify-content: center;
}