.main-header {
	text-align: justify;
	display: flex;
	font-family: var(--font-family);
    flex-direction: row;
    justify-content: space-between;
	align-items: flex-start;
	height: 100vh;
	position: relative;
	width: 100%;
}

.main-header__title {
	color: #fff;
	display: inline-block;
	font-weight: 400;
	padding-top: 1rem;
	margin: 0;
}

.main-header__sub-title {
	bottom: 2%;
    color: #fff;
	position: absolute;
    text-transform: uppercase;
    width: 100%;
}

.main-header__image {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -20%;
}

.main-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: auto;
	padding-top: 1rem;
	padding-right: 10rem;
	width: calc(70% - 10rem);
}

.main-nav__link {
	color: #101010;
	font-size: 15px;
	margin-right: 42px;
	text-decoration: none;
	text-transform: uppercase;
}

.profile {
	background-color: #754ef9;
	height: inherit;
	text-align: center;
	position: relative;
	width: 30%;
}
